<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User disabled</title>
  </head>
  <body>
    <p>
      Your login <span data-th-text="${disabledUser}"></span> has been
      deactivated for 30mins.
    </p>
    <br />
    <form>
      <button type="submit" formmethod="GET" formaction="/">Back</button>
    </form>
  </body>
</html>
